
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
   margin-top: 0;
   margin-bottom:0;
   font-family: 'Sacramento', cursive;
   font-size: 4.375rem;
   color: #66BFBF;
}

h2{
   font-family: 'Montserrat', sans-serif;
      font-size: 2.5rem;
      color: #66BFBF;


}

h3{
   font-family: 'Montserrat', sans-serif;
   color: #11999E;
   font-weight: normal;

}

p{
   font-family: 'Montserrat', sans-serif;
   padding: 0 0 75px;
   line-height: 2

}

.job{
        font-size: 1rem;
        font-weight: normal;
}

   .top{
   background-color: #E0EBE8;
   position: relative;
   padding-top:  150px;
   }
.middle{
  background-color: #FFFFFF;
  position: relative;
  padding-top:  100px;
 }

 .hello{
   width: 30%;
   margin: 0 auto;
 }

.bottom{
  background-color: #C5DED7;
  position: absolute;
  padding-top:  50px;
  left: 0;
  right:0;
}
.Italic{
  font-style: italic;
}

 .bottom-cloud{
   position: absolute;
   width: 15%;
   left: 200px;
   bottom: 350px;
 }
 .top-cloud{
   position: absolute;
   width: 15%;
   right: 200px;
   top: 50px;
 }
.mountain{
   position: relative;
width: 70%;
   top: 4px;
padding-top: 100px;
}
.girl{
     position: relative;
  width: 20%;
  height: 20%;
}

.skill-row{
  width: 50%;
margin: 0 auto;
text-align: left;

}

.skill{
  width: 40%;
  float: left;
  margin-right: 30px;
}

.my-skills{
margin-bottom: 80px;
}

.chef{
  width: 30%;
  float: right;
  margin-left: 30px;
}

.dots{
width: 80px;
}

.skills{
  padding-top: 80px;
}

.contact-me{
    width: 30%;
    margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
}

.website{
padding: 10px 0 8px 0;
margin: 20px 0 0 0;
font-size: 0.75rem;
color:#FFFFFF;
}
.btn{
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  height: 25px;
  line-height: 25px;
  color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
  width: 125px;
  font-size: 15px;
  font-weight: 100;
  padding: 10px;
  background-color: #11999E;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.footer-link{
   color: #11999E;
   text-decoration: none;
   margin: 0 20px;
  font-family: 'Montserrat', sans-serif;
}

.footer-link:hover{
  color: #66BFBF;
}

.get{
  padding-bottom: 30px;

}
